<?xml version="1.0"?>
<ftnode_mw>
<dbsources>
  <db id="0" product="postgres"  name="ftnode" user="pg" pwd="pg" port="5432" host="10.11.12.11" cstr= "10.11.12.11,5432@ft_node"  beg_tr="select 1" iso_lev="SA_RepeatableRead">
    <property name="hash_prefix" value="select md5(string_agg(ht.hash_val,'')) as hash_val from (select md5("/>
    <property name="hash_mid" value=") as hash_val from ("/>
    <property name="hash_suffix" value=") as ht order by hash_val) as ht"/>
    <property name="number_scale_fmt_prefix" value=" to_char("/>
    <property name="number_scale_fmt_mid" value=", 'FM"/>
    <property name="number_scale_fmt_suffix" value="')"/>
    <property name="apply_number_format_mask" value="true"/>
    <property name="concat_col_prefix" value="select * from ("/>
    <property name="concat_col_suffix" value=") as t where 0=1"/>
    <property name="date_fmt_prefix" value=" to_char("/>
    <property name="date_fmt_suffix" value=",'yyyymmdd')"/>
  </db>
  <db id="1" product="oracle" name="ftnode" user="ordb" pwd="ordb" port="1521" host="10.11.12.18" cstr="//10.11.12.18:1521/ftnode"  beg_tr="select 1 from dual" iso_lev="SA_Serializable">
    <property name="hash_prefix" value="select lower(rawtohex(dbms_crypto.hash(utl_raw.cast_to_raw(agg_hash_val),2))) as hash_val from (select listagg(hash_val,'') within group (order by 1) as agg_hash_val from (select lower(rawtohex(dbms_crypto.hash (utl_raw.cast_to_raw("/>
    <property name="hash_mid" value="),2) )) as hash_val from ("/>
    <property name="hash_suffix" value=") ) )"/>
    <property name="number_scale_fmt_prefix" value=" to_char("/>
    <property name="number_scale_fmt_mid" value=", 'FM"/>
    <property name="number_scale_fmt_suffix" value="')"/>
    <property name="apply_number_format_mask" value="true"/>
    <property name="concat_col_prefix" value="select * from ("/>
    <property name="concat_col_suffix" value=") t where 0=1"/>
    <property name="date_fmt_prefix" value=" to_char("/>
    <property name="date_fmt_suffix" value=",'yyyymmdd')"/>
  </db>
  <db id="2" product="sqlanywhere"  name="ftnode" user="sadb" pwd="sadb" port="49153" host="10.11.11.17" cstr="links=tcpip(host=10.11.12.17;port=49153);databasename=ftnode_sa;servername=ftnode_sa"  beg_tr="select 1" iso_lev="server_specific">
    <property name="hash_prefix" value="select hash(list(hash_val,'' order by hash_val),'MD5') as hash_val from (select hash("/>
    <property name="hash_mid" value=",'MD5') as hash_val from ("/>
    <property name="hash_suffix" value=") as ht) as ht"/>
    <property name="number_scale_fmt_prefix" value=" replace ( trim ( replace ( string ("/>
    <property name="number_scale_fmt_mid" value=""/>
    <property name="number_scale_fmt_suffix" value="), '0', ' ' ) ), ' ', '0' )"/>
    <property name="apply_number_format_mask" value="false"/>
    <property name="concat_col_prefix" value="select * from ("/>
    <property name="concat_col_suffix" value=") as t where 0=1"/>
    <property name="date_fmt_prefix" value=" dateformat("/>
    <property name="date_fmt_suffix" value=",'yyyymmdd')"/>
  </db>
</dbsources>
<endpoint ip="127.0.0.1" port="3333"/>
</ftnode_mw>
